<!doctype html>
<html ng-app="clientApp">
  <head>
    <meta charset="utf-8">
    <title>JavaBrains</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
  </head>
  <body ng-controller="NavigationCtrl as navi" layout="column" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar layout="row" layout-align="center center" style="min-height:50px;">
      <md-button class="menu" hide-gt-md ng-click="navi.toggleList()" aria-label="Show Side Menu">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <div class="brand" ui-sref="home" layout="row" layout-align="center center">
        <img src="/assets/images/brain.png" alt="Java Brain" style="width:25px;height:25px;">
        <span>Java Brain</span>
      </div>
      <section id="top_menu" layout="row" flex layout-align="end center">
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="java.main" layout="row" layout-align="center center">
          <md-icon>free_breakfast</md-icon> 자바
        </md-button>
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="oop.main" layout="row" layout-align="center center">
          <md-icon>voicemail</md-icon> OOP
        </md-button>
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="javascript.main" layout="row" layout-align="center center">
          <md-icon>description</md-icon>  자바스크립트
        </md-button>
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="android.main" layout="row" layout-align="center center">
          <md-icon>android</md-icon> 안드로이드
        </md-button>
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="game.main" layout="row" layout-align="center center">
          <md-icon>gamepad</md-icon> 게임
        </md-button>

        <!-- 로그인 로그아웃 -->
        <md-button ng-show="!$parent.mAuth"
                   class="md-raised md-primary" ng-click="navi.showLogin()" layout="row" layout-align="center center">
          <md-icon>input</md-icon> 로그인
        </md-button>
        <md-button ng-show="$parent.mAuth"
                   class="md-raised md-primary" ng-click="navi.logOut()" layout="row" layout-align="center center">
          <md-icon>power_settings_new</md-icon> 로그아웃
        </md-button>
      </section>
    </md-toolbar>

    <md-content flex id="content" style="padding:5px;">
      <div ui-view class="slide"></div>
    </md-content>

    <div class="footer" layout="column" layout-align="center center">
      <p style="margin: 0;">
        CopyRight 2013 powered by eastflag. e-mail:eastflag@gmail.com. kakao:eastflag
      </p>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
