<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        목차
      </div>
      <div class="panel-body side-menu" style="padding: 0">
        <ul>
          <li ui-sref-active="active"><a ui-sref="java.anonymous">Anonymous Class</a></li>
          <li ui-sref-active="active"><a ui-sref="java.collection">Collection</a></li>
          <li ui-sref-active="active"><a ui-sref="java.generic">Generic</a></li>
          <li ui-sref-active="active"><a ui-sref="java.thread">Thread</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div ui-view class="slide"></div>
  </div>
</div>
