<div class="panel panel-info">
  <div class="panel-heading">
    자바 로드맵
  </div>
  <div class="panel-body">
    <p>* 강의 자료</p>
    <a href="/resources/download/자바강의.pptx">다운로드</a><br>
    git주소 : https://github.com/eastflag/Java.git<br>
    <br>
    <p>* 참고 자료</p>
    <a href="http://cafe.naver.com/javachobostudy.cafe">자바의 정석 (필수자바강의 참고)</a><br>
    <a href="http://www.jabook.com/">소설 같은 자바</a><br>
    <a href="/resources/download/Effective.Java.2nd.Edition.May.2008.3000th.Release.pdf">Effective Java</a><br>
    <a href="/resources/download/head_first_design_pattern.pdf">Head First Design Pattern</a><br>
    <a href="http://www.codeproject.com/Articles/60845/The-S-O-L-I-D-Object-Oriented-Programming-OOP-Prin">클래스 설계원칙 S.O.L.I.D</a><br>
    <a href="http://www.st.informatik.tu-darmstadt.de/pages/lectures/se/ws06-07/design/lecture/10_principlesOfPackageDesign.pdf">패키지 설계원칙</a><br>
  </div>
</div>
