/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/*나눔고딕
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/*제주고딕*/
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 제주고딕이 한자를 지원하지 않기 때문에 한자 폰트 추가*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  /*font-family: 'Nanum Gothic', serif;*/
  font-family: 'cwTeXHei', 'Jeju Gothic', serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}

dt, dd {
  line-height: 1.8em;
}

/* codemirror override-------------------------------*/
.CodeMirror {
  font-family: 'cwTeXHei', 'Jeju Gothic', serif !important;
  height: auto;
  color: black;
}

/*BootStrap 오버라이딩 start---*/
.panel {
  margin-bottom: 0;
}
.panel-footer {
  padding: 0;
  text-align: center;
}
.pagination {
  margin: 10px 0 0 0;
}
/*BootStrap 오버라이딩 end---*/

/*material design 오버라이딩 */
//스마트폰에서 아이콘이 안나옴
md-icon {
  text-rendering: optimizeLegibility;
}

.brand {
  cursor: pointer;
}

#top_menu {
  md-icon {
    margin: 0;
    transition: transform 0.5s;
  }
  .md-button:hover {
    background: orange;
    md-icon {
      transform: rotate(360deg);
    }
  }
  .md-button.active {
    background: orange;
  }
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  min-width: 35px;
  margin: 0;
  padding: 0;
}

#right_menu {
  width: 200px;
  .menu-item {
    width: 100%;
    text-align: left !important;
    margin: 0;
    padding: 6px 0 6px 15px;
    border-bottom: solid #cccccc 1px;
    overflow: visible;
    md-icon {
      margin-right: 10px;
      transition: transform 0.5s;
    }
  }
  .menu-item:hover {
    background: #e5e5e5;
    border-left: solid 5px orange;
  }
  .menu-item:hover md-icon {
    transform: rotate(360deg);
  }
  .active {
    background: #a5a5a5;
    border-left: solid 5px orange;
  }
}

ul.side-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    a {
      display: block;
      color: #777;
      padding: 8px 16px;
      text-decoration: none;
    }
  }
  li.active {
    background-color: #e7e7e7;
  }
}

/* slide animation start---------------------------------------------*/
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
  -o-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
ul {
  list-style: none;
}
/* slide animation end---------------------------------------------*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  color: #777;
  border-top: 1px solid #aaaaaa;
  padding: 5px;
}

/* Responsive: Portrait tablets and up */
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 599px) {
  html, body {
    font-size: 12px;
    height: 100%;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  .footer {
    font-size: 4px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
