<div class="panel panel-info">
  <div class="panel-heading">
    5주차
  </div>
  <div class="panel-body">
    <h3>* 자료</h3>
    <ul class="pitem">
      <iframe width="420" height="315" src="//www.youtube.com/embed/6DJrpr2w1qk" frameborder="0" allowfullscreen></iframe>
    </ul>

    <h3>* 학습목표</h3>
    <ul class="pitem">
      <li class="item">동적으로 레이아웃 생성하기</li>
      <li class="item">자바코드로 커스터마이징하기</li>
      <li class="subitem">- 커스텀뷰 3가지 생성자의 의미 이해하기</li>
      <li class="subitem">- 커스텀뷰에 그리기</li>
      <li class="item">XML로 커스터마이징하기</li>
      <li class="subitem">- 예제: TextView를 둥근 모서리와 파란색 테두리로 그리기</li>
      <li class="item">Handler 이해</li>
      <li class="subitem">- 예제1: 핸들러로 타이머 구현</li>
      <li class="subitem">- 예제2: 액션 메뉴 보여준 후 3초후에 다시 메뉴를 사라지게 하고 풀스크린 모드로 전환</li>
      <li class="subitem">- 예제3: RPG게임에서 보여주는 사람이 말하는 것처럼 한 문장을 0.3초 간격으로 한자씩 보여주기</li>
    </ul>

    <h3>* 학습 이해도 측정</h3>
    <ul class="pitem">
      <li>레이아웃을 동적으로 처리하는 순서는 어떻게 되는가?</li>
      <li>커스텀뷰를 만들때 생성자 세가지는 어디에 어떻게 사용되는가?</li>
      <li>커스텀뷰에 그림을 그릴때 호출되는 메서드는 무엇인가?</li>
      <li>커스텀뷰에 사용되는 canvas와 paint는 무엇을 의미하는가?</li>
      <li>메인쓰레드와 백그라운드 쓰레드는 무엇을 말하는가?</li>
      <li>핸들러를 처리하는 순서는 어떻게 되는가?</li>
      <li>핸들러는 주로 어떤 경우에 사용하면 되는가?</li>
    </ul>
  </div>
</div>
