<div class="panel panel-info">
  <div class="panel-heading">
    6주차
  </div>
  <div class="panel-body">
    <h3>* 자료</h3>
    <ul class="pitem">
      <iframe width="420" height="315" src="//www.youtube.com/embed/r-omVm6hsL0" frameborder="0" allowfullscreen></iframe>
    </ul>
    <h3>* 네트워크 : 네이버API를 활용한 책검색 앱 만들기</h3>
    <ul class="pitem">
      <li class="item">- 안드로이드에서 네트웍 구현</li>
      <li class="subitem">HttpUrlConnection 클래스 사용하기</li>
      <li class="subitem">예제1: 쓰레드와 핸들러로 인터넷에서 이미지 가져오기</li>
      <li class="subitem">예제2: AQuery로 인터넷에서 이미지 가져오기</li>
      <li class="item">- 네이버 Api 사용해보기</li>
      <li class="subitem">Aquery 오픈소스 사용하기</li>
      <li class="subitem">XML Dom 파싱 이해</li>
      <li class="subitem">AQuery로 XML Dom 파싱 쉽게 하기</li>
      <li class="subitem">어댑터뷰의 MVC 구조 이해</li>
      <li class="subitem">리스트뷰 만들기</li>
      <li class="subitem">페이징 구현(더보기 버튼 구현하기)</li>
    </ul>
  </div>
</div>
