<div class="panel panel-info">
  <div class="panel-heading">
    개요
  </div>
  <div class="panel-body">
    <h3>* 개요</h3>
    <a href="/download/안드로이드Game강의.pptx">다운로드</a><br>
    <div>
      자바스크립트가 브라우저언어로 쓰이다가 CommonJS 스펙이 발표가 되면서 범용적으로 사용되기 시작하였다.<br />
      서버에 사용되는예가 NodeJS이며 MongoDB 같은 NoSql에도 사용되면 심지어 비글보드 등의 하드웨어에도 사용이 되고 있으며,
      현재 가장 많이 사용되는 언어 1위가 몇년새 자바스크립트 언어가 차지하게 되었다.<br />
      2015년에는 es5를 대체하는 새로운 자바스크립트 문법 ECMA2015 혹은 es6 가 발표가 되었으며 React, AngularJs 2에서는 es6 문법이 사용되고 있다.
    </div>
    <br>
    <h3>* 로드맵</h3>
    <table class="table table-bordered table-striped">
      <colgroup>
        <col style="width: 25%;"/>
        <col style="width: 15%;"/>
        <col style="width: 10%;"/>
        <col style="width: 10%;"/>
        <col style="width: 40%;"/>
      </colgroup>
      <thead style="background-color: #eeeeee;">
      <tr>
        <td>제목</td>
        <td>자료</td>
        <td>분류</td>
        <td>난이도</td>
        <td>비고</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>자바의정석(책)</td>
        <td><a href="http://cafe.naver.com/javachobostudy.cafe">네이버카페 (필수자바강의 참고)</a><br></td>
        <td>문법</td>
        <td>초급</td>
        <td>컬렉션, 제네릭에 대한 설명 부족</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
